.generate-btn {
    margin:10px;
    padding:20px 30px;
    border:none;
    background:none;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;
    overflow:hidden;
    .text {
        position:relative;
        z-index:2;
        display:block;
        // transition:transform .1s ease-in-out;
    }
    &:before,&:after {
        position:relative;
        z-index:1;
    }
    &:active {
        transform:translateY(1px);
        .text {
            transform:scale(0.95);
        }
    }

    &.metal {
        color:white;
        text-shadow:0 1px 2px rgba(black,0.75);
        box-shadow:0 5px 10px rgba(black,0.75),inset 0 0 1px 1px gray;
        position:relative;
        &:before,&:after {
            content:'';
            display:block;
            height:100%;
            width:35px;
            background:white;
            position:absolute;
            top:0;
            opacity:0.2;
            filter:blur(10px);
            transition:transform .25s ease-in-out, filter 0.25s ease-in-out;
        }
        &:before {
            transform:skew(45deg,0deg) translateX(-40px);
        }
        &:after {
            transform:skew(45deg,0deg) translateX(60px);
        }
        background-image:
            linear-gradient(
            -45deg,
            rgba(black,0),
            rgba(black,0.4) 90px
        ),
            repeating-linear-gradient(
            45deg,
            rgba(darken(lightgray,25),0.3),
            rgba(darken(lightgray,25),0.3) 1.5px,
            transparent 1.5px,
            transparent 3px
        ),
        linear-gradient(
            45deg,
            rgba(white,0),
            rgba(white,0.7) 60px
        ),
        radial-gradient(circle at center, #3f87a6, #ebf8e1, darkgray);
        &:hover {
            text-shadow:0 1px 3px black;
            &:before {
                transform:skew(45deg,0deg) translateX(0px);
            }
            &:after {
                transform:skew(45deg,0deg) translateX(80px);
            }
        }
        &:active {
            box-shadow:0 3px 8px rgba(black,0.75),inset 0 0 1px 1px gray;
            &:before,&:after {
                filter:blur(40px);
            }
        }
    }
}
.metal {
    padding:5px 10px;
    border:none;
    background:none;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;
    overflow:hidden;
    color:white;
    text-shadow:0 1px 2px rgba(black,0.75);
    box-shadow:0 5px 10px rgba(black,0.75),inset 0 0 1px 1px gray;
    position:relative;
    &:before,&:after {
        content:'';
        display:block;
        height:100%;
        width:35px;
        background:white;
        position:absolute;
        top:0;
        opacity:0.2;
        filter:blur(10px);
        transition:transform .25s ease-in-out, filter 0.25s ease-in-out;
    }
    &:before {
        transform:skew(45deg,0deg) translateX(-40px);
    }
    &:after {
        transform:skew(45deg,0deg) translateX(60px);
    }
    background-image:
        linear-gradient(
        -45deg,
        rgba(black,0),
        rgba(black,0.4) 90px
    ),
        repeating-linear-gradient(
        45deg,
        rgba(darken(lightgray,25),0.3),
        rgba(darken(lightgray,25),0.3) 1.5px,
        transparent 1.5px,
        transparent 3px
    ),
    linear-gradient(
        45deg,
        rgba(white,0),
        rgba(white,0.7) 60px
    ),
    radial-gradient(circle at center, #3f87a6, #ebf8e1, darkgray);
    &:hover {
        text-shadow:0 1px 3px black;
        &:before {
            transform:skew(45deg,0deg) translateX(0px);
        }
        &:after {
            transform:skew(45deg,0deg) translateX(80px);
        }
    }
    &:active {
        box-shadow:0 3px 8px rgba(black,0.75),inset 0 0 1px 1px gray;
        &:before,&:after {
            filter:blur(40px);
        }
    }
}