<main
class="py-3 lg:px-16 px-5 bg-gray-300 h-screen m-3 shadow-lg rounded-2xl flex lg:flex-row md:flex-row flex-col lg:justify-between justify-around"
>

<div class="info flex flex-col justify-center gap-4 lg:w-1/2">
    <p class="text-2xl">Hello</p>
    <h1 class="text-4xl">I'm Youssef Mahmoud</h1>

    <p class="text-xl">
        Highly motivated and skilled Front-End Developer, 3 years of experience, passionate about building user-friendly and visually appealing web applications
        <!-- ; i am Seeking opportunities to leverage and level up my skills. -->
    </p>
</div>


<div class="my-image-skills w-full flex justify-center items-center">

    <div class="relative w-[400px] lg:h-[400px] flex justify-center items-center rounded-full bg-gray-900/55">

        <div class="w-[200px] h-[200px] rounded-full bg-gray-300"></div>

        <div class="lg:w-[180px] absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <img src="/me.png" alt="Youssef photo" class="rounded-2xl w-full h-full">
        </div>
        
        <div class="lg:w-[500px] flex justify-around absolute left-1/2 lg:top-10 top-5 transform -translate-x-1/2 -translate-y-1/2 floating-icons">
            <div>
                <img
                  src="/html-img.png"
                  alt="html photo"
                  width="70"
                  height="70"
                  class="float float-delay-1"
                />
              </div>
              <div>
                <img
                  src="/css-png.png"
                  alt="css photo"
                  width="100"
                  height="100"
                  class="float float-delay-2"
                />
              </div>
              <div>
                <img
                  src="/JavaScript-png.png"
                  alt="js photo"
                  width="100"
                  height="100"
                  class="float float-delay-3"
                />
              </div>
        </div>
        <div class="lg:w-[450px] w-full pr-8 flex justify-between absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2  rotating-icons">
            <div class="sm:w-[100px]">
                <img src="/react-png.png" alt="html photo" class="lg:w-[120px] lg:h-[120px] w-16" width="120" height="120">
            </div>
            <div class="sm:w-[100px]">
                <img src="/nextjs-png.png" alt="html photo" class="lg:w-[120px] lg:h-[120px] w-14" width="70" height="70">
            </div>
        </div>
        <div class="w-full flex justify-center absolute left-1/2 -bottom-24 transform -translate-x-1/2 -translate-y-1/2">
            <div>
                <img src="/tailwind-png.png" alt="html photo" class="lg:w-[150px] w-20" width="150" height="150">
            </div>
        </div>
    </div>


</div>


</main>